*{
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

body{
    background-color: rgb(35, 37, 44);
}

.layout-0{

    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.grid-01{
    background-color: #181a1f;
    border-radius: 20px;
    padding: 25px;
}

.mapa-image{
    width: 85%;
    border: 13px solid #195c70;
    box-shadow: 3px 3px 30px black;
    margin-bottom: 40px;
}
.icon-mapa{
    border: 3px solid #AA8400;
    border-radius: 100%;
    box-shadow: 3px 3px 30px black;
}

#drag-icon {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: 80px;
    cursor: grab; /* Mostra o cursor de "mão" ao passar pelo ícone */
}

#drag-icon:active {
    cursor: grabbing; /* Mostra o cursor de "mão segurando" ao arrastar */
}

.toggle-visibility {
    background-color: #19702F;
    color: #1AC244;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #1AC244;
    width: 30%;
    margin-bottom: 10px;
}

.toggle-visibility:hover {
    background-color: #1AC244;
    color: #19702F;
}

.cartas-destino-viradas{
    width: 95%;
    margin: 0 auto;
    height: 160px;
    background-color: #19702f;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #1AC244;
}
.cartas-destino-viradas h1{
    margin: 0px;
    padding: 55px;
    font-style: italic;
    color: #1AC244;
}

.cartas-destino-viradas img{
    height: 150px;
    box-shadow: 0px 0px 10px #06290e;
    transition: 0.5s;
}
.cartas-destino-viradas img:hover{
    transform: scale(2.8) translateY(-40%);
    box-shadow: 0px 0px 40px #1AC244;
    border-radius: 5px;
}

/*------------------------------------------------------------------------*/

.grid-02{
    width: 100%;
    max-height: 95vh;
    overflow-y: scroll;
    margin: 0px 0px;
}
.grid-02::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
  }
  
  .grid-02::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do "polegar" */
    border-radius: 50px; /* Arredondamento */
  }
  
  .grid-02::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
  }
  
  .grid-02::-webkit-scrollbar-track {
    background: #3c4258; /* Cor do trilho */
  }

.jogador-char{
    background-color: rgb(192, 169, 38);
    padding: 20px;
    margin: 15px;
    border-radius: 35px;
    box-shadow: 3px 3px 30px black;
    text-align: end;
}
.jogador-char {
    transition: all 0.3s ease; /* Suaviza a transição */
}

/* Estilo quando minimizado */
.jogador-char.minimized {
    background-color: #1f7a36; /* Cor de fundo ao minimizar */
    padding: 5px; /* Espaçamento interno */
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogador-char.minimized .view-jogador {
    display: none; /* Esconde todo o conteúdo interno */
}

.jogador-char.minimized h1 {
    display: block; /* Mostra o título */
    color: #fff; /* Cor do texto */
    font-size: 1.5em; /* Ajusta o tamanho do texto */
    margin: 0; /* Remove margens externas */
    text-align: center; /* Centraliza o texto */
}
.jogador-char.minimized .view-jogador {
    display: none; /* Esconde o conteúdo */
}

.jogador-char.minimized .toggle-visibility {
    display: block; /* Garante que o botão fique visível */
}

.view-jogador{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    align-items: center;
    justify-content: center
}

.jogador-char img{
    width: 100%;
    filter:drop-shadow(0px 0px 10px rgb(112, 99, 21));
}

.elementos h1{
    margin-top: 0px;
}

.name input{
    width: 80%;
    height: 35px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: rgb(153, 134, 29);
    color: gold;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}

.pontos-vida{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.pontos-vida p{
    background-color: rgb(218, 192, 45);
    box-shadow: 0px 0px 20px rgb(124, 124, 29);
    color: white;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s;
}
.pontos-vida p:hover{
    transform: scale(1.1);
}

.pontos-vida .skull{
    background-color: rgb(61, 61, 61);
    box-shadow: 0px 0px 20px red;
}

.rodada-stats{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}
.rodada-stats input{
    width: 50%;
    height: 35px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: rgb(153, 134, 29);
    color: gold;
    font-weight: bold;
    font-size: 14px;
}
.rodada-stats input::placeholder {
    color: rgb(73, 69, 44);
    font-style: italic;
}
.rodada-stats button{
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: #6b5d0a;
    color: gold;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}
.rodada-stats button:hover{
    background-color: gold;
    color: #6b5d0a;
}

.statsbase{
    width: 50px;
    height: 50px;
    padding-top: 5px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 35px;
}

.status{
    display: flex;
    gap: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.status input{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: none;
    text-align: center;
    padding: 15px;
    font-style: italic;
}

.forc{
    color: red;
    background-color: rgb(158, 57, 57);
    box-shadow: 0px 0px 20px red;
    transition: 0.5s;
}
.forc:hover{
    box-shadow: 0px 0px 60px red;
}

.agil{
    color: yellow;
    background-color: rgb(197, 197, 68);
    box-shadow: 0px 0px 20px rgb(124, 124, 29);
    transition: 0.5s;
}
.agil:hover{
    box-shadow: 0px 0px 60px rgb(124, 124, 29);
}
.perc{
    color: blue;
    background-color: rgb(96, 125, 221);
    box-shadow: 0px 0px 20px blue;
    transition: 0.5s;
}
.perc:hover{
    box-shadow: 0px 0px 60px blue;
}

/*------------------------------------------------------------------------*/

.grid-03{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    max-height: 98vh;
    overflow-y: scroll;
    
    background-color: #181a1f;
    border-radius: 20px;
    padding: 10px;
}
.grid-03::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
  }
  
  .grid-03::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do "polegar" */
    border-radius: 50px; /* Arredondamento */
  }
  
  .grid-03::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
  }
  
  .grid-03::-webkit-scrollbar-track {
    background: #3c4258; /* Cor do trilho */
  }

/*------------------------------------------------------------------------*/

.acoes-jogadores{
    background-color: #1a4e27;
    border-radius: 35px;
    margin: 20px;
    color: #16b13d;
    
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
}
.acoes-jogadores h1{
    width: 70%;
    font-size: 25px;
}

.btn-dado{
    width: 60%;
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    border-radius: 25px;
    background-color: #19702f;
    border: 4px solid #1f7a36;
    color: #1ac244;
    box-shadow: 3px 3px 30px #19702f;
    cursor: pointer;
    margin: 20px 0px;
    transition: 0.5s;
}
.btn-dado:hover{
    background-color: #1A4E27;
    border: 4px solid #19702f;
    color: #29d655;
    box-shadow: 3px 3px 30px #29d655;
}
.btn-limpar{
    width: 50%;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    border-radius: 25px;
    background-color: #19702f;
    border: 2px solid #1f7a36;
    color: #1ac244;
    box-shadow: 3px 3px 30px #19702f;
    cursor: pointer;
    margin: 20px 0px;
    transition: 0.5s;
}
.btn-limpar:hover{
    background-color: #1A4E27;
    border: 2px solid #19702f;
    color: #29d655;
    box-shadow: 3px 3px 30px #29d655;
}

.btn-stats-select{
    width: 60px;
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
}
.selected {
    background-color: #363636;
    color: white;
    box-shadow: 0px 0px 20px white;
}

.result{
    font-size: 20px;
    font-weight: bold;
    width: 60%;
}


/*------------------------------------------------------------------------*/

.monstros-select{
    background-color: #1a4e27;
    border-radius: 35px;
    margin: 20px;
    color: #16b13d;
    
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
}
.monstros-select-img{
    width: 200px;
    filter:drop-shadow(0px 0px 20px #1ac244);
    transition: 1.1s;
}
.monstros-select-img:hover{
    transform: scale(1.3);
    filter:drop-shadow(0px 0px 20px red);
}

.monstro-resultado {
    margin-top: 20px;
    text-align: center;
}

.monstro-resultado img {
    max-width: 400px; 
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px 0;
}

.monstro-resultado p, .monstro-resultado h1 {
    margin: 5px 0;
    font-weight: bold;
}

.vidas {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 15px 0px;
}
.vida {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #16b13d;
    transition: transform 0.2s ease;
}
.vida:hover {
    transform: scale(1.2);
}

.btn-monstro{
    width: 60%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    border-radius: 25px;
    background-color: #19702f;
    border: 4px solid #1f7a36;
    color: #1ac244;
    box-shadow: 3px 3px 30px #19702f;
    cursor: pointer;
    margin: 20px 0px;
    transition: 0.5s;
}
.btn-monstro:hover{
    background-color: #1A4E27;
    border: 4px solid #19702f;
    color: #29d655;
    box-shadow: 3px 3px 30px #29d655;
}

.alteradores{
    background-color: #1a4e27;
    border-radius: 35px;
    margin: 20px;
    color: #16b13d;
    
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
}
.alteradores img{
    width: 40%;
    margin-bottom: 35px;
    box-shadow: 0px 0px 20px #1ac244;
    transition: 1.1s;
}
.alteradores img:hover{
    transform: scale(1.1);
}

.btn-destino{
    width: 80%;
    font-size: 25px;
    padding: 8px;
    font-weight: bold;
    font-style: italic;
    border-radius: 25px;
    background-color: #19702f;
    border: 4px solid #1f7a36;
    color: #1ac244;
    box-shadow: 3px 3px 30px #19702f;
    cursor: pointer;
    margin-bottom: 40px;
    transition: 0.5s;
}
.btn-destino:hover{
    background-color: #1A4E27;
    border: 4px solid #19702f;
    color: #29d655;
    box-shadow: 3px 3px 30px #29d655;
}